@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@media screen and (max-width: 576px) {
    .footer-section{
        margin-left: 40px;
    }
    .events{
        padding: 0px 26px;
    }
  }